body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





main {
    /*padding: 1rem;*/
    flex: 1;
}

footer{
  background-color: black;
  color: white;
}
.site-container {
  min-height: 100vh;
}

.w-100{
  height: 600px;
  width: 500px;
}

.rowA{
  padding-top: 50px;
}
.rowB{
  padding-top: 25px;
}
.rowImg{
  padding-top: 50px;
  padding-left: 350px;
}
.img-thumbnail{
  height: 400px;
  width: 500px;
}

